<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @search_results.empty? %>
    <p>Sorry, no matches were found.</p>
  <% else %>
    <h3 class="content-subhead">Search results for '<%= params[:query] %>'</h3>

    <% @search_results.each do |chapter| %>
      <ul>
        <li>
          <%= chapter[:name] %>
        </li>
        <ul>
          <% chapter[:paragraphs].each do |graph| %>
            <% graph.each do |index, text| %>
              <li>
                <a href="/chapters/<%= chapter[:num] %>#paragraph<%= index %>">
                  <%= bold_query_match(params[:query], text) %>
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </ul>
    <% end %>
  <% end %>
<% end %>
